source_list:
  - OL

OL:
  sftp_conf:
      filetype: csv
      delimiter: |
      directory: /home/ubuntu/data
      filename: receipts_delta_GBR_14_10_2017.csv

SB:
  mysql_conf:
    dbtable: testdb.TRANSACTIONSYNC
    partition_column: App_Transaction_Id
    query : "(select * from testdb.TRANSACTIONSYNC ') as t"

CP:
  s3_conf:
    s3_bucket: vinaysbt
    filename: KC_Extract_1_20171009.csv

ADDR:
  mongodb_config:
    database: cust
    collection: address



s3_conf:
  s3_bucket: vinaysbt
  staging_dir: staging



redshift_conf:
  filetype: csv
  delimiter: |
  dbtable: PUBLIC.TXN_FCT
  query: SELECT txn_id, create_time, amount, cust_id from PUBLIC.TXN_FCT



